{% extends "base.html" %}

{% block content %}

<div class="form-card">

    <h1>

        Create Group

    </h1>

    <form method="POST">

        <input
        type="text"
        name="group_name"
        placeholder="Group Name"
        required>

        <div class="member-list">

            <h3>

                Add Members

            </h3>

            <br>

            {% for user in users %}

            <div class="member-item">

                <label>

                    <input
                    type="checkbox"
                    name="members"
                    value="{{ user.id }}">

                    {{ user.username }}

                </label>

            </div>

            {% endfor %}

        </div>

        <button
        class="create-btn"
        type="submit">

            Create Group

        </button>

    </form>

    <a
    class="back-btn"
    href="/dashboard">

        ← Back to Dashboard

    </a>

</div>

{% endblock %}