<!DOCTYPE html>
<html>

<head>

<title>

{{ group.name }}

</title>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/emoji-mart@latest/dist/browser.js"></script>

</head>

<body>

<h1>

{{ group.name }}

</h1>

<hr>

<div id="messages">
<p id="typing-status"></p>

{% for message in messages %}

<p>

 {{ message.sender }} 

:

{% if "giphy.com" in message.content %}

<img
src="{{ message.content }}"
width="200">

{% else %}

{{ message.content }}

{% endif %}

</p>

{% endfor %}

</div>

<hr>

<button id="emoji-btn">

😀

</button>

<div
id="emoji-picker"
style="display:none;">
</div>

<input
type="text"
id="message">

<button id="send-btn">

Send

</button>

<button id="gif-btn">

GIF

</button>

<div
id="gif-box"
style="display:none;">

<input
type="text"
id="gif-search"
placeholder="Search GIF">

<button
id="search-gif">

Search

</button>

<br><br>

<div
id="gif-results">

</div>

</div>

<script>

const CURRENT_USER =
"{{ current_user.username }}";

const CURRENT_USER_ID =
"{{ current_user.id }}";

const GROUP_ID =
"{{ group.id }}";

</script>

<script src="{{ url_for(
'static',
filename='js/group_chat.js'
) }}">
</script>

</body>

</html>