{% extends "base.html" %}

{% block content %}

<div class="groups-container">

    <div class="group-card">

        <h1>

            My Groups

        </h1>

        <br>

        {% for group in groups %}

        <div class="group-row">

            <div>

                👥

                {{ group.name }}

            </div>

            <div>

                <a
                class="open-chat-btn"
                href="/group_chat/{{ group.id }}">

                    Open Chat

                </a>

            </div>

        </div>

        {% endfor %}

    </div>

    <div class="group-card">

        <a
        class="open-chat-btn"
        href="/create_group">

            + Create Group

        </a>

    </div>

    <a
    class="back-dashboard"
    href="/dashboard">

        ← Back to Dashboard

    </a>

</div>

{% endblock %}